//usecompileserver=true
appname=habit-tracker
backend=servlet
sessiontimeout=120
smtphost=smtp.mailtrap.io
smtpport=465
smtpuser=<SMTP USER>
smtppass=<SMTP PASS>
smtpprotocol=smtp
tomcatpath=/opt/tomcat
//httpport=8080
//httpsport=8443
dbserver=<DB HOST>
dbuser=<DB USER>
dbpassword=<DB PASS>
dbname=<DB NAME>
dbmode=create-drop
//rootapp=true
indexdir=searchindex
//pluginbuildpollserver=true
//pluginbuildpollwaittime=10000
//pluginbuildpollnumberoftries=3
//pluginbuildrestartserver=false
